<!DOCTYPE html>
<html>
  <head>
    <title>Tickets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% message = notice || flash[:message] %>
    <% if message %>
      <p class="alert alert-success"><%= message %></p>
    <% end %>

    <% error = alert || flash[:error] %>
    <% if error %>
      <p class="alert alert-danger"><%= error %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
